/* PAGE GENERAL */
* {
   box-sizing: border-box;
   color: #CBC9CF;
   font-family: 'Montserrat';
   font-weight: 400;
   margin: 0px;
}

input {
   border: none;
   border-bottom: 1px solid #CBC9CF;
   background: transparent;
   margin-top: 30px;
}

/* HEADER */
header {
   background-color: #46424D;
   width: 100%;
}

h1 {
   font-weight: lighter;
   font-size: 25px;
}

header h1 {
   color: #FFF;
   padding: 15px 0px 15px 0px;
   text-align: center;
}

#page-header {
   margin-left: 3%;
}

/* ALIGNMENT CONTAINER */
.alignment {
   background-color: #2B2733;
   display: flex;
   min-height: 92vh;
}

/* LEFT SECTION */
.main-content {
   height: 90%;
   padding-top: 20px;
   width: 65%;
}

.left-section, .timer-section {
   background-color: #46424D;
   box-shadow: 5px 10px #26222D;
   display: flex;
   flex-flow: column wrap;
   height: 85%;
   margin: 1% 3% 3% 3%;
   padding: 3% 10% 3% 10%;
}

.left-section p {
   margin-bottom: 1%;
   padding-bottom: 5%;
}

/* CATEGORY SELECTION */
.category-selection {
   display: flex;
   height: 35%;
   justify-content: space-between;
   width: 100%;
}

button {
   align-items: center;
   background-color: #46424D;
   border-radius: 4px;
   border-width: 2px;
   display: flex;
   flex-direction: column;
   font-size: 15px;
   height: 50px;
   width: 150px;
}

button img {
   height: 18px;
}

#category-label {
   margin-bottom: 2%;
}

#error-icon {
   height: 20px;
   margin-top: 15px;
}

#start-button {
   background-color: #CBC9CF;
   border-radius: 2px;
   color: #46424D;
   height: 30px;
   margin-bottom: 30px;
   width: 180px;
}

#start-section {
   display: flex;
   justify-content: flex-end;
}

/* INPUT FORM */
.goal-form {
   display: flex;
   flex-flow: column;
}

#duration-minutes {
   margin-right: 5%;
}

/* TIMER SECTION */
.timer-section {
   align-content: center;
   display: flex;
   flex-direction: column;
}

#timer-start {
   border-radius: 50%;
   color: #FFF;
   font-size: 30px;
   justify-content: center;
   margin-bottom: 40px;
   margin-top: 30px;
   height: 300px;
   width: 300px;
}

.minutes {
   display: flex;
   flex-flow: column;
   width: 50%;
}

.seconds {
   display: flex;
   flex-flow: column;
   width: 50%;
}

#time-wrapper {
   display: flex;
   justify-content: space-between;
}

#timer-section {
   align-items: center;
}

#task-name {
   color: #FFF;
   font-size: 25px;
   text-align: center;
}

#time {
   color: #FFF;
   font-size: 85px;
   font-weight: bolder;
   text-align: center;
}

/* RIGHT SECTION */
.right-section {
  border-left: 2px solid #46424D;
  padding: 20px;
  width: 35%;
}

.right-section p {
  padding: 4px;
  text-align: center;
}

.right-text-container {
  margin: 3%;
}

/* MODIFIERS */
.hide {
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.remove {
  display: none;
}

.green {
  border-color: #B3FD78;
  color: #B3FD78;
}

.green-input {
  border: none;
  border-bottom: 1px solid #B3FD78;
}

.purple {
  border-color: #C278FD;
  color: #C278FD;
}

.purple-input {
  border: none;
  border-bottom: 1px solid #C278FD;
}

.red {
  border-color: #FD8078;
  color: #FD8078;
}

.red-input {
  border: none;
  border-bottom: 1px solid #FD8078;;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  .alignment {
    align-items: center;
    flex-direction: column;
  }

  .main-content {
    align-items: center;
    height: auto;
    width: 100%;
  }

  .right-section {
    border-top: 2px solid #46424D;
    width: 100%;
  }

  .category-selection {
    align-items: center;
    flex-direction: column;
  }

  .category-selection button {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    width: 75%;
  }

  #start-section {
    display: flex;
    justify-content: center;
  }

  #start-button {
    height: 50px;
    justify-content: center;
    margin-bottom: 5%;
    width: 90%;
  }
}
